@model Clinica.Models.Equipment

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">Eliminar equipo</h1>

<h3 class="mb-3">¿Seguro que deseas eliminar el siguiente equipo?</h3>
<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Número de activo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assetNumber)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Serie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serial)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
           Fecha de compra
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datePurchase)
        </dd>
        <dt class = "col-sm-2">
            Especialidad asignada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialty)
        </dd>
        <dt class = "col-sm-2">
            Consultorio asignado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consultingRoom)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idEquipment" />
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 order-md-2">
                <div class="form-group">
                    <input type="submit" value="Elimiar cita" class="btn btn-danger btn-block" />
                </div>
            </div>
            <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center order-md-1">
                <a asp-action="Index" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        </div>
    </form>
</div>
