@model Clinica.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assetNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datePurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datePurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.consultingRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consultingRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idEquipment">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
