@model IEnumerable<Clinica.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Resumen de equipos</h1>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Ingresar nuevo equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de activo
            </th>
            <th>
               Nombre
            </th>
            <th>
                Serie
            </th>
            <th>
               Descripción
            </th>
            <th>
               Fecha de compra
            </th>
            <th>
               Especialidad asignada
            </th>
            <th>
                Consultorio asignado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consultingRoom)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idEquipment" class="btn btn-secondary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.idEquipment" class="btn btn-danger">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
