@model Clinica.Models.Appointments

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">Eliminar cita</h1>

<h3 class="mb-3">¿Seguro que deseas eliminar la siguiente cita?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Paciente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt class = "col-sm-2">
            Doctor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
        <dt class = "col-sm-2">
           Especialidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            Costo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 order-md-2">
                <div class="form-group">
                    <input type="submit" value="Elimiar cita" class="btn btn-danger btn-block" />
                </div>
            </div>
            <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center order-md-1">
                <a asp-action="Index" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        </div>
    </form>
</div>
