@model IEnumerable<Clinica.Models.Appointments>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Resumen de citas</h1>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Crear cita</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Paciente
            </th>
            <th>
                Doctor
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Costo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
