@model IEnumerable<Clinica.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Resumen de pacientes</h1>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Crear usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Teléfono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUser" class="btn btn-secondary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
